WPFClient/Service References/WCFRepositorySoapServiceReference/Service12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCFRepositorySoapService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCFRepositorySoapService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfDestination">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Destination" nillable="true" type="tns:Destination" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDestination" nillable="true" type="tns:ArrayOfDestination" />
  <xs:complexType name="Destination">
    <xs:sequence>
      <xs:element minOccurs="0" name="Host" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Port" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Destination" nillable="true" type="tns:Destination" />
</xs:schema>